In [ ]:
# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [ ]:
print("hello" ,98 ,True ,98.5)

hello 98 True 98.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [ ]:
print("hello" ,98 ,True ,98.5 ,sep='-')

hello-98-True-98.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [ ]:
print("hello", end=' ')
print(98, end=' ')
print(True, end=' ')
print(98.5)

hello 98 True 98.5

4) Can a python print function take no value to print???

In [ ]:
print("")